<img src="<%= @data.photo_url %>" alt="Smiley face" height="200" width="200">
<ul>
  <li>Title: <%= @data.title %></li>
  <li>Description: <%= @data.description %></li>
  <li>Chef: <%= @data.chef %></li>
  <li>Tags: <%= @data.tags.join(', ') %></li>
</ul>
